@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

.googleapps-button {
    background-color: #dc4e41;
    color: #ffffff;
}

.googleapps-button:hover {
    background-color: #c53829;
}

.googleapps-button img {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -2px;
}

.googleapps-button div {
    font-family: 'Roboto';
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
}