
.octopusID-button {
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
    background-color: #54B954;
    color: #fff;
}

.octopusID-button:hover {
    background-color: #449744;
    color: #fff;
}

.octopusID-button img {
    margin-left: 0.8125rem;
    width: 23px;
    height: 22px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.octopusID-button div {
    font-weight: 400;
    display: inline-block;
    text-align: left;
    margin-left: 0.8125rem;
    overflow: hidden;
}
